<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Sign In</title>
</head>
<body>
    <%- include("./partials/nav") %>

    <form class="mt-4" style="margin-left: 20px; padding-right: 20px;" method="post" action="/user/signin">
        <!-- Email input -->
        
        <div data-mdb-input-init class="form-outline mb-4">
          <label class="form-label" for="form2Example1">Email address</label>
          <input type="text" id="form2Example1" class="form-control" name="email"/>
        </div>
      
        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <label class="form-label" for="form2Example2">Password</label>
          <input type="password" id="form2Example2" class="form-control" name="password"/>
        </div>
      
        
      
        <!-- Submit button -->
        <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign in</button>
      
       
        </div>
      </form>
    <%- include("./partials/script") %>
</body>
</html>